AtomPair O 2 N 16 SCALARWEIGHTEDFUNC 0.929941 HARMONIC 2.84 1.0
Angle C 2 O 2 N 16 SCALARWEIGHTEDFUNC 0.929941 CIRCULARHARMONIC 2.87 10.0
Angle O 2 N 16 C 15 SCALARWEIGHTEDFUNC 0.929941 CIRCULARHARMONIC 1.88 10.0
Dihedral N 3 C 2 O 2 N 16 SCALARWEIGHTEDFUNC 0.929941 CIRCULARHARMONIC 0.04 10.0
Dihedral C 2 O 2 N 16 C 15 SCALARWEIGHTEDFUNC 0.929941 CIRCULARHARMONIC 3.04 10.0
Dihedral O 2 N 16 C 15 CA 16 SCALARWEIGHTEDFUNC 0.929941 CIRCULARHARMONIC 2.97 10.0
AtomPair N 4 O 16 SCALARWEIGHTEDFUNC 0.754794 HARMONIC 2.97 1.0
Angle C 3 N 4 O 16 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 1.92 10.0
Angle N 4 O 16 C 16 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 2.77 10.0
Dihedral CA 4 C 3 N 4 O 16 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC -2.87 10.0
Dihedral C 3 N 4 O 16 C 16 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC -2.60 10.0
Dihedral N 4 O 16 C 16 N 17 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC -0.59 10.0
AtomPair O 5 N 19 SCALARWEIGHTEDFUNC 0.439529 HARMONIC 2.91 1.0
Angle C 5 O 5 N 19 SCALARWEIGHTEDFUNC 0.439529 CIRCULARHARMONIC 2.57 10.0
Angle O 5 N 19 C 18 SCALARWEIGHTEDFUNC 0.439529 CIRCULARHARMONIC 1.97 10.0
Dihedral N 6 C 5 O 5 N 19 SCALARWEIGHTEDFUNC 0.439529 CIRCULARHARMONIC 0.66 10.0
Dihedral C 5 O 5 N 19 C 18 SCALARWEIGHTEDFUNC 0.439529 CIRCULARHARMONIC 2.32 10.0
Dihedral O 5 N 19 C 18 CA 19 SCALARWEIGHTEDFUNC 0.439529 CIRCULARHARMONIC 2.62 10.0
AtomPair O 6 N 20 SCALARWEIGHTEDFUNC 0.264381 HARMONIC 3.21 1.0
Angle C 6 O 6 N 20 SCALARWEIGHTEDFUNC 0.264381 CIRCULARHARMONIC 2.21 10.0
Angle O 6 N 20 C 19 SCALARWEIGHTEDFUNC 0.264381 CIRCULARHARMONIC 1.27 10.0
Dihedral N 7 C 6 O 6 N 20 SCALARWEIGHTEDFUNC 0.264381 CIRCULARHARMONIC 1.25 10.0
Dihedral C 6 O 6 N 20 C 19 SCALARWEIGHTEDFUNC 0.264381 CIRCULARHARMONIC 2.06 10.0
Dihedral O 6 N 20 C 19 CA 20 SCALARWEIGHTEDFUNC 0.264381 CIRCULARHARMONIC 1.86 10.0
AtomPair OD2 7 ND2 20 SCALARWEIGHTEDFUNC 0.100000 HARMONIC 2.98 1.0
Angle CG 7 OD2 7 ND2 20 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC 2.61 10.0
Angle OD2 7 ND2 20 CG 20 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC 1.97 10.0
Dihedral OD1 7 CG 7 OD2 7 ND2 20 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC 1.28 10.0
Dihedral CG 7 OD2 7 ND2 20 CG 20 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC 1.12 10.0
Dihedral OD2 7 ND2 20 CG 20 OD1 20 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC 2.95 10.0
AtomPair N 8 O 20 SCALARWEIGHTEDFUNC 0.964971 HARMONIC 2.76 1.0
Angle C 7 N 8 O 20 SCALARWEIGHTEDFUNC 0.964971 CIRCULARHARMONIC 2.45 10.0
Angle N 8 O 20 C 20 SCALARWEIGHTEDFUNC 0.964971 CIRCULARHARMONIC 2.54 10.0
Dihedral CA 8 C 7 N 8 O 20 SCALARWEIGHTEDFUNC 0.964971 CIRCULARHARMONIC 3.06 10.0
Dihedral C 7 N 8 O 20 C 20 SCALARWEIGHTEDFUNC 0.964971 CIRCULARHARMONIC -0.60 10.0
Dihedral N 8 O 20 C 20 N 21 SCALARWEIGHTEDFUNC 0.964971 CIRCULARHARMONIC -2.50 10.0
AtomPair O 8 N 11 SCALARWEIGHTEDFUNC 0.754794 HARMONIC 2.99 1.0
Angle C 8 O 8 N 11 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 2.24 10.0
Angle O 8 N 11 C 10 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 2.23 10.0
Dihedral N 9 C 8 O 8 N 11 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 1.36 10.0
Dihedral C 8 O 8 N 11 C 10 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC -0.93 10.0
Dihedral O 8 N 11 C 10 CA 11 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC -2.91 10.0
AtomPair O 9 ND2 23 SCALARWEIGHTEDFUNC 1.000000 HARMONIC 2.90 1.0
Angle C 9 O 9 ND2 23 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.71 10.0
Angle O 9 ND2 23 CG 23 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.16 10.0
Dihedral N 10 C 9 O 9 ND2 23 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -2.28 10.0
Dihedral C 9 O 9 ND2 23 CG 23 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -2.86 10.0
Dihedral O 9 ND2 23 CG 23 OD1 23 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -3.07 10.0
AtomPair OG1 9 ND2 20 SCALARWEIGHTEDFUNC 0.100000 HARMONIC 3.31 1.0
Angle CB 9 OG1 9 ND2 20 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC 2.60 10.0
Angle OG1 9 ND2 20 CG 20 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC 2.46 10.0
Dihedral CG2 9 CB 9 OG1 9 ND2 20 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC 1.79 10.0
Dihedral CB 9 OG1 9 ND2 20 CG 20 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC 0.59 10.0
Dihedral OG1 9 ND2 20 CG 20 OD1 20 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC -2.24 10.0
AtomPair O 11 N 24 SCALARWEIGHTEDFUNC 0.579647 HARMONIC 3.03 1.0
Angle C 11 O 11 N 24 SCALARWEIGHTEDFUNC 0.579647 CIRCULARHARMONIC 2.66 10.0
Angle O 11 N 24 C 23 SCALARWEIGHTEDFUNC 0.579647 CIRCULARHARMONIC 1.35 10.0
Dihedral N 12 C 11 O 11 N 24 SCALARWEIGHTEDFUNC 0.579647 CIRCULARHARMONIC 1.01 10.0
Dihedral C 11 O 11 N 24 C 23 SCALARWEIGHTEDFUNC 0.579647 CIRCULARHARMONIC -1.99 10.0
Dihedral O 11 N 24 C 23 CA 24 SCALARWEIGHTEDFUNC 0.579647 CIRCULARHARMONIC 1.40 10.0
AtomPair O 13 N 25 SCALARWEIGHTEDFUNC 1.000000 HARMONIC 2.98 1.0
Angle C 13 O 13 N 25 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.56 10.0
Angle O 13 N 25 C 24 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 1.98 10.0
Dihedral N 14 C 13 O 13 N 25 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -2.82 10.0
Dihedral C 13 O 13 N 25 C 24 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -2.10 10.0
Dihedral O 13 N 25 C 24 CA 25 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -2.58 10.0
AtomPair O 13 N 26 SCALARWEIGHTEDFUNC 1.000000 HARMONIC 3.28 1.0
Angle C 13 O 13 N 26 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.53 10.0
Angle O 13 N 26 C 25 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.05 10.0
Dihedral N 14 C 13 O 13 N 26 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -1.07 10.0
Dihedral C 13 O 13 N 26 C 25 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -1.87 10.0
Dihedral O 13 N 26 C 25 CA 26 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 3.01 10.0
AtomPair N 15 O 26 SCALARWEIGHTEDFUNC 1.000000 HARMONIC 2.80 1.0
Angle C 14 N 15 O 26 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.09 10.0
Angle N 15 O 26 C 26 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.73 10.0
Dihedral CA 15 C 14 N 15 O 26 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -3.00 10.0
Dihedral C 14 N 15 O 26 C 26 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 1.22 10.0
Dihedral N 15 O 26 C 26 N 27 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 1.34 10.0
AtomPair O 15 N 28 SCALARWEIGHTEDFUNC 0.754794 HARMONIC 2.92 1.0
Angle C 15 O 15 N 28 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 2.88 10.0
Angle O 15 N 28 C 27 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 1.99 10.0
Dihedral N 16 C 15 O 15 N 28 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 1.08 10.0
Dihedral C 15 O 15 N 28 C 27 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 2.11 10.0
Dihedral O 15 N 28 C 27 CA 28 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 2.93 10.0
AtomPair N 17 O 28 SCALARWEIGHTEDFUNC 0.929941 HARMONIC 2.84 1.0
Angle C 16 N 17 O 28 SCALARWEIGHTEDFUNC 0.929941 CIRCULARHARMONIC 1.94 10.0
Angle N 17 O 28 C 28 SCALARWEIGHTEDFUNC 0.929941 CIRCULARHARMONIC 2.90 10.0
Dihedral CA 17 C 16 N 17 O 28 SCALARWEIGHTEDFUNC 0.929941 CIRCULARHARMONIC -3.09 10.0
Dihedral C 16 N 17 O 28 C 28 SCALARWEIGHTEDFUNC 0.929941 CIRCULARHARMONIC 3.08 10.0
Dihedral N 17 O 28 C 28 N 29 SCALARWEIGHTEDFUNC 0.929941 CIRCULARHARMONIC 0.09 10.0
AtomPair N 17 OG 30 SCALARWEIGHTEDFUNC 1.000000 HARMONIC 3.20 1.0
Angle C 16 N 17 OG 30 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 1.70 10.0
Angle N 17 OG 30 CB 30 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.60 10.0
Dihedral CA 17 C 16 N 17 OG 30 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.08 10.0
Dihedral C 16 N 17 OG 30 CB 30 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -3.08 10.0
Dihedral N 17 OG 30 CB 30 CA 30 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 0.11 10.0
AtomPair N 17 O 29 SCALARWEIGHTEDFUNC 0.194323 HARMONIC 3.39 1.0
Angle C 16 N 17 O 29 SCALARWEIGHTEDFUNC 0.194323 CIRCULARHARMONIC 2.80 10.0
Angle N 17 O 29 C 29 SCALARWEIGHTEDFUNC 0.194323 CIRCULARHARMONIC 1.86 10.0
Dihedral CA 17 C 16 N 17 O 29 SCALARWEIGHTEDFUNC 0.194323 CIRCULARHARMONIC 1.91 10.0
Dihedral C 16 N 17 O 29 C 29 SCALARWEIGHTEDFUNC 0.194323 CIRCULARHARMONIC 1.24 10.0
Dihedral N 17 O 29 C 29 N 30 SCALARWEIGHTEDFUNC 0.194323 CIRCULARHARMONIC -1.62 10.0
AtomPair N 18 OG 30 SCALARWEIGHTEDFUNC 1.000000 HARMONIC 3.03 1.0
Angle C 17 N 18 OG 30 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.18 10.0
Angle N 18 OG 30 CB 30 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.05 10.0
Dihedral CA 18 C 17 N 18 OG 30 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 3.11 10.0
Dihedral C 17 N 18 OG 30 CB 30 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.19 10.0
Dihedral N 18 OG 30 CB 30 CA 30 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -1.01 10.0
AtomPair O 18 N 31 SCALARWEIGHTEDFUNC 0.754794 HARMONIC 2.96 1.0
Angle C 18 O 18 N 31 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 2.82 10.0
Angle O 18 N 31 C 30 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 1.82 10.0
Dihedral N 19 C 18 O 18 N 31 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC -0.36 10.0
Dihedral C 18 O 18 N 31 C 30 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC -2.37 10.0
Dihedral O 18 N 31 C 30 CA 31 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 3.02 10.0
AtomPair N 21 O 31 SCALARWEIGHTEDFUNC 0.894912 HARMONIC 2.87 1.0
Angle C 20 N 21 O 31 SCALARWEIGHTEDFUNC 0.894912 CIRCULARHARMONIC 2.01 10.0
Angle N 21 O 31 C 31 SCALARWEIGHTEDFUNC 0.894912 CIRCULARHARMONIC 3.03 10.0
Dihedral CA 21 C 20 N 21 O 31 SCALARWEIGHTEDFUNC 0.894912 CIRCULARHARMONIC 2.84 10.0
Dihedral C 20 N 21 O 31 C 31 SCALARWEIGHTEDFUNC 0.894912 CIRCULARHARMONIC 1.47 10.0
Dihedral N 21 O 31 C 31 N 32 SCALARWEIGHTEDFUNC 0.894912 CIRCULARHARMONIC 0.55 10.0
AtomPair O 21 N 24 SCALARWEIGHTEDFUNC 0.649705 HARMONIC 3.37 1.0
Angle C 21 O 21 N 24 SCALARWEIGHTEDFUNC 0.649705 CIRCULARHARMONIC 2.01 10.0
Angle O 21 N 24 C 23 SCALARWEIGHTEDFUNC 0.649705 CIRCULARHARMONIC 2.16 10.0
Dihedral N 22 C 21 O 21 N 24 SCALARWEIGHTEDFUNC 0.649705 CIRCULARHARMONIC 1.41 10.0
Dihedral C 21 O 21 N 24 C 23 SCALARWEIGHTEDFUNC 0.649705 CIRCULARHARMONIC -1.25 10.0
Dihedral O 21 N 24 C 23 CA 24 SCALARWEIGHTEDFUNC 0.649705 CIRCULARHARMONIC -2.91 10.0
AtomPair OD1 23 NZ 35 SCALARWEIGHTEDFUNC 0.100000 HARMONIC 2.50 1.0
Angle CG 23 OD1 23 NZ 35 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC 3.00 10.0
Angle OD1 23 NZ 35 CE 35 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC 2.01 10.0
Dihedral ND2 23 CG 23 OD1 23 NZ 35 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC -0.81 10.0
Dihedral CG 23 OD1 23 NZ 35 CE 35 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC -1.31 10.0
Dihedral OD1 23 NZ 35 CE 35 CD 35 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC -0.70 10.0
AtomPair O 24 N 36 SCALARWEIGHTEDFUNC 0.649705 HARMONIC 3.23 1.0
Angle C 24 O 24 N 36 SCALARWEIGHTEDFUNC 0.649705 CIRCULARHARMONIC 2.98 10.0
Angle O 24 N 36 C 35 SCALARWEIGHTEDFUNC 0.649705 CIRCULARHARMONIC 1.63 10.0
Dihedral N 25 C 24 O 24 N 36 SCALARWEIGHTEDFUNC 0.649705 CIRCULARHARMONIC 0.81 10.0
Dihedral C 24 O 24 N 36 C 35 SCALARWEIGHTEDFUNC 0.649705 CIRCULARHARMONIC -2.28 10.0
Dihedral O 24 N 36 C 35 CA 36 SCALARWEIGHTEDFUNC 0.649705 CIRCULARHARMONIC 1.23 10.0
AtomPair O 25 N 38 SCALARWEIGHTEDFUNC 0.859882 HARMONIC 3.33 1.0
Angle C 25 O 25 N 38 SCALARWEIGHTEDFUNC 0.859882 CIRCULARHARMONIC 2.72 10.0
Angle O 25 N 38 C 37 SCALARWEIGHTEDFUNC 0.859882 CIRCULARHARMONIC 1.86 10.0
Dihedral N 26 C 25 O 25 N 38 SCALARWEIGHTEDFUNC 0.859882 CIRCULARHARMONIC 0.45 10.0
Dihedral C 25 O 25 N 38 C 37 SCALARWEIGHTEDFUNC 0.859882 CIRCULARHARMONIC 2.76 10.0
Dihedral O 25 N 38 C 37 CA 38 SCALARWEIGHTEDFUNC 0.859882 CIRCULARHARMONIC 2.99 10.0
AtomPair O 25 N 37 SCALARWEIGHTEDFUNC 0.824853 HARMONIC 2.63 1.0
Angle C 25 O 25 N 37 SCALARWEIGHTEDFUNC 0.824853 CIRCULARHARMONIC 2.40 10.0
Angle O 25 N 37 C 36 SCALARWEIGHTEDFUNC 0.824853 CIRCULARHARMONIC 2.10 10.0
Dihedral N 26 C 25 O 25 N 37 SCALARWEIGHTEDFUNC 0.824853 CIRCULARHARMONIC 2.30 10.0
Dihedral C 25 O 25 N 37 C 36 SCALARWEIGHTEDFUNC 0.824853 CIRCULARHARMONIC -0.72 10.0
Dihedral O 25 N 37 C 36 CA 37 SCALARWEIGHTEDFUNC 0.824853 CIRCULARHARMONIC -2.76 10.0
AtomPair N 27 O 38 SCALARWEIGHTEDFUNC 0.964971 HARMONIC 2.94 1.0
Angle C 26 N 27 O 38 SCALARWEIGHTEDFUNC 0.964971 CIRCULARHARMONIC 1.92 10.0
Angle N 27 O 38 C 38 SCALARWEIGHTEDFUNC 0.964971 CIRCULARHARMONIC 2.78 10.0
Dihedral CA 27 C 26 N 27 O 38 SCALARWEIGHTEDFUNC 0.964971 CIRCULARHARMONIC 3.00 10.0
Dihedral C 26 N 27 O 38 C 38 SCALARWEIGHTEDFUNC 0.964971 CIRCULARHARMONIC 2.65 10.0
Dihedral N 27 O 38 C 38 N 39 SCALARWEIGHTEDFUNC 0.964971 CIRCULARHARMONIC 0.56 10.0
AtomPair O 27 N 40 SCALARWEIGHTEDFUNC 0.649705 HARMONIC 2.91 1.0
Angle C 27 O 27 N 40 SCALARWEIGHTEDFUNC 0.649705 CIRCULARHARMONIC 2.76 10.0
Angle O 27 N 40 C 39 SCALARWEIGHTEDFUNC 0.649705 CIRCULARHARMONIC 1.96 10.0
Dihedral N 28 C 27 O 27 N 40 SCALARWEIGHTEDFUNC 0.649705 CIRCULARHARMONIC 0.97 10.0
Dihedral C 27 O 27 N 40 C 39 SCALARWEIGHTEDFUNC 0.649705 CIRCULARHARMONIC 2.36 10.0
Dihedral O 27 N 40 C 39 CA 40 SCALARWEIGHTEDFUNC 0.649705 CIRCULARHARMONIC 2.90 10.0
AtomPair N 29 O 40 SCALARWEIGHTEDFUNC 0.964971 HARMONIC 2.88 1.0
Angle C 28 N 29 O 40 SCALARWEIGHTEDFUNC 0.964971 CIRCULARHARMONIC 1.93 10.0
Angle N 29 O 40 C 40 SCALARWEIGHTEDFUNC 0.964971 CIRCULARHARMONIC 2.75 10.0
Dihedral CA 29 C 28 N 29 O 40 SCALARWEIGHTEDFUNC 0.964971 CIRCULARHARMONIC 3.00 10.0
Dihedral C 28 N 29 O 40 C 40 SCALARWEIGHTEDFUNC 0.964971 CIRCULARHARMONIC 2.48 10.0
Dihedral N 29 O 40 C 40 N 41 SCALARWEIGHTEDFUNC 0.964971 CIRCULARHARMONIC 0.71 10.0
AtomPair N 29 OG 42 SCALARWEIGHTEDFUNC 1.000000 HARMONIC 3.18 1.0
Angle C 28 N 29 OG 42 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 1.72 10.0
Angle N 29 OG 42 CB 42 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.66 10.0
Dihedral CA 29 C 28 N 29 OG 42 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.00 10.0
Dihedral C 28 N 29 OG 42 CB 42 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -2.95 10.0
Dihedral N 29 OG 42 CB 42 CA 42 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -0.00 10.0
AtomPair N 30 OG 42 SCALARWEIGHTEDFUNC 1.000000 HARMONIC 2.99 1.0
Angle C 29 N 30 OG 42 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.19 10.0
Angle N 30 OG 42 CB 42 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.04 10.0
Dihedral CA 30 C 29 N 30 OG 42 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 3.06 10.0
Dihedral C 29 N 30 OG 42 CB 42 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.27 10.0
Dihedral N 30 OG 42 CB 42 CA 42 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -1.11 10.0
AtomPair O 30 OG 42 SCALARWEIGHTEDFUNC 1.000000 HARMONIC 3.35 1.0
Angle C 30 O 30 OG 42 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 1.94 10.0
Angle O 30 OG 42 CB 42 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 1.17 10.0
Dihedral N 31 C 30 O 30 OG 42 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.66 10.0
Dihedral C 30 O 30 OG 42 CB 42 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -2.68 10.0
Dihedral O 30 OG 42 CB 42 CA 42 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -1.26 10.0
AtomPair O 30 N 43 SCALARWEIGHTEDFUNC 0.824853 HARMONIC 3.00 1.0
Angle C 30 O 30 N 43 SCALARWEIGHTEDFUNC 0.824853 CIRCULARHARMONIC 2.77 10.0
Angle O 30 N 43 C 42 SCALARWEIGHTEDFUNC 0.824853 CIRCULARHARMONIC 1.76 10.0
Dihedral N 31 C 30 O 30 N 43 SCALARWEIGHTEDFUNC 0.824853 CIRCULARHARMONIC 0.20 10.0
Dihedral C 30 O 30 N 43 C 42 SCALARWEIGHTEDFUNC 0.824853 CIRCULARHARMONIC 3.03 10.0
Dihedral O 30 N 43 C 42 CA 43 SCALARWEIGHTEDFUNC 0.824853 CIRCULARHARMONIC 2.95 10.0
AtomPair N 32 OG1 43 SCALARWEIGHTEDFUNC 1.000000 HARMONIC 3.00 1.0
Angle C 31 N 32 OG1 43 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 1.80 10.0
Angle N 32 OG1 43 CB 43 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.43 10.0
Dihedral CA 32 C 31 N 32 OG1 43 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -3.06 10.0
Dihedral C 31 N 32 OG1 43 CB 43 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -2.31 10.0
Dihedral N 32 OG1 43 CB 43 CG2 43 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.82 10.0
AtomPair N 32 O 43 SCALARWEIGHTEDFUNC 0.859882 HARMONIC 3.19 1.0
Angle C 31 N 32 O 43 SCALARWEIGHTEDFUNC 0.859882 CIRCULARHARMONIC 2.06 10.0
Angle N 32 O 43 C 43 SCALARWEIGHTEDFUNC 0.859882 CIRCULARHARMONIC 1.98 10.0
Dihedral CA 32 C 31 N 32 O 43 SCALARWEIGHTEDFUNC 0.859882 CIRCULARHARMONIC 2.07 10.0
Dihedral C 31 N 32 O 43 C 43 SCALARWEIGHTEDFUNC 0.859882 CIRCULARHARMONIC 2.08 10.0
Dihedral N 32 O 43 C 43 N 44 SCALARWEIGHTEDFUNC 0.859882 CIRCULARHARMONIC 1.73 10.0
AtomPair N 32 OD2 44 SCALARWEIGHTEDFUNC 1.000000 HARMONIC 3.35 1.0
Angle C 31 N 32 OD2 44 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.79 10.0
Angle N 32 OD2 44 CG 44 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.29 10.0
Dihedral CA 32 C 31 N 32 OD2 44 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -2.24 10.0
Dihedral C 31 N 32 OD2 44 CG 44 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -2.70 10.0
Dihedral N 32 OD2 44 CG 44 OD1 44 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.91 10.0
AtomPair N 33 O 43 SCALARWEIGHTEDFUNC 0.929941 HARMONIC 2.85 1.0
Angle C 32 N 33 O 43 SCALARWEIGHTEDFUNC 0.929941 CIRCULARHARMONIC 2.14 10.0
Angle N 33 O 43 C 43 SCALARWEIGHTEDFUNC 0.929941 CIRCULARHARMONIC 2.73 10.0
Dihedral CA 33 C 32 N 33 O 43 SCALARWEIGHTEDFUNC 0.929941 CIRCULARHARMONIC -2.99 10.0
Dihedral C 32 N 33 O 43 C 43 SCALARWEIGHTEDFUNC 0.929941 CIRCULARHARMONIC 0.57 10.0
Dihedral N 33 O 43 C 43 N 44 SCALARWEIGHTEDFUNC 0.929941 CIRCULARHARMONIC 0.78 10.0
AtomPair O 33 N 36 SCALARWEIGHTEDFUNC 0.859882 HARMONIC 3.24 1.0
Angle C 33 O 33 N 36 SCALARWEIGHTEDFUNC 0.859882 CIRCULARHARMONIC 2.00 10.0
Angle O 33 N 36 C 35 SCALARWEIGHTEDFUNC 0.859882 CIRCULARHARMONIC 2.20 10.0
Dihedral N 34 C 33 O 33 N 36 SCALARWEIGHTEDFUNC 0.859882 CIRCULARHARMONIC 1.36 10.0
Dihedral C 33 O 33 N 36 C 35 SCALARWEIGHTEDFUNC 0.859882 CIRCULARHARMONIC -1.29 10.0
Dihedral O 33 N 36 C 35 CA 36 SCALARWEIGHTEDFUNC 0.859882 CIRCULARHARMONIC -2.83 10.0
AtomPair N 34 O 44 SCALARWEIGHTEDFUNC 0.929941 HARMONIC 3.36 1.0
Angle C 33 N 34 O 44 SCALARWEIGHTEDFUNC 0.929941 CIRCULARHARMONIC 1.28 10.0
Angle N 34 O 44 C 44 SCALARWEIGHTEDFUNC 0.929941 CIRCULARHARMONIC 2.60 10.0
Dihedral CA 34 C 33 N 34 O 44 SCALARWEIGHTEDFUNC 0.929941 CIRCULARHARMONIC 1.02 10.0
Dihedral C 33 N 34 O 44 C 44 SCALARWEIGHTEDFUNC 0.929941 CIRCULARHARMONIC 0.70 10.0
Dihedral N 34 O 44 C 44 N 45 SCALARWEIGHTEDFUNC 0.929941 CIRCULARHARMONIC -1.54 10.0
AtomPair O 34 OG1 47 SCALARWEIGHTEDFUNC 1.000000 HARMONIC 2.86 1.0
Angle C 34 O 34 OG1 47 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.19 10.0
Angle O 34 OG1 47 CB 47 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.02 10.0
Dihedral N 35 C 34 O 34 OG1 47 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 0.70 10.0
Dihedral C 34 O 34 OG1 47 CB 47 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.81 10.0
Dihedral O 34 OG1 47 CB 47 CG2 47 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 0.55 10.0
AtomPair O 36 N 48 SCALARWEIGHTEDFUNC 0.649705 HARMONIC 3.14 1.0
Angle C 36 O 36 N 48 SCALARWEIGHTEDFUNC 0.649705 CIRCULARHARMONIC 2.90 10.0
Angle O 36 N 48 C 47 SCALARWEIGHTEDFUNC 0.649705 CIRCULARHARMONIC 1.57 10.0
Dihedral N 37 C 36 O 36 N 48 SCALARWEIGHTEDFUNC 0.649705 CIRCULARHARMONIC 1.16 10.0
Dihedral C 36 O 36 N 48 C 47 SCALARWEIGHTEDFUNC 0.649705 CIRCULARHARMONIC -2.62 10.0
Dihedral O 36 N 48 C 47 CA 48 SCALARWEIGHTEDFUNC 0.649705 CIRCULARHARMONIC 1.20 10.0
AtomPair O 37 N 49 SCALARWEIGHTEDFUNC 0.719764 HARMONIC 2.87 1.0
Angle C 37 O 37 N 49 SCALARWEIGHTEDFUNC 0.719764 CIRCULARHARMONIC 2.26 10.0
Angle O 37 N 49 C 48 SCALARWEIGHTEDFUNC 0.719764 CIRCULARHARMONIC 2.00 10.0
Dihedral N 38 C 37 O 37 N 49 SCALARWEIGHTEDFUNC 0.719764 CIRCULARHARMONIC 2.43 10.0
Dihedral C 37 O 37 N 49 C 48 SCALARWEIGHTEDFUNC 0.719764 CIRCULARHARMONIC -0.90 10.0
Dihedral O 37 N 49 C 48 CA 49 SCALARWEIGHTEDFUNC 0.719764 CIRCULARHARMONIC -2.55 10.0
AtomPair O 37 N 50 SCALARWEIGHTEDFUNC 0.754794 HARMONIC 3.39 1.0
Angle C 37 O 37 N 50 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 2.79 10.0
Angle O 37 N 50 C 49 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 1.91 10.0
Dihedral N 38 C 37 O 37 N 50 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 0.90 10.0
Dihedral C 37 O 37 N 50 C 49 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 2.36 10.0
Dihedral O 37 N 50 C 49 CA 50 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 2.91 10.0
AtomPair N 39 O 50 SCALARWEIGHTEDFUNC 0.929941 HARMONIC 2.96 1.0
Angle C 38 N 39 O 50 SCALARWEIGHTEDFUNC 0.929941 CIRCULARHARMONIC 2.05 10.0
Angle N 39 O 50 C 50 SCALARWEIGHTEDFUNC 0.929941 CIRCULARHARMONIC 2.87 10.0
Dihedral CA 39 C 38 N 39 O 50 SCALARWEIGHTEDFUNC 0.929941 CIRCULARHARMONIC 2.95 10.0
Dihedral C 38 N 39 O 50 C 50 SCALARWEIGHTEDFUNC 0.929941 CIRCULARHARMONIC 2.58 10.0
Dihedral N 39 O 50 C 50 N 51 SCALARWEIGHTEDFUNC 0.929941 CIRCULARHARMONIC 0.70 10.0
AtomPair O 39 N 52 SCALARWEIGHTEDFUNC 0.579647 HARMONIC 2.90 1.0
Angle C 39 O 39 N 52 SCALARWEIGHTEDFUNC 0.579647 CIRCULARHARMONIC 2.73 10.0
Angle O 39 N 52 C 51 SCALARWEIGHTEDFUNC 0.579647 CIRCULARHARMONIC 1.96 10.0
Dihedral N 40 C 39 O 39 N 52 SCALARWEIGHTEDFUNC 0.579647 CIRCULARHARMONIC 0.98 10.0
Dihedral C 39 O 39 N 52 C 51 SCALARWEIGHTEDFUNC 0.579647 CIRCULARHARMONIC 2.28 10.0
Dihedral O 39 N 52 C 51 CA 52 SCALARWEIGHTEDFUNC 0.579647 CIRCULARHARMONIC 2.93 10.0
AtomPair N 41 OG 54 SCALARWEIGHTEDFUNC 1.000000 HARMONIC 3.21 1.0
Angle C 40 N 41 OG 54 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 1.60 10.0
Angle N 41 OG 54 CB 54 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.56 10.0
Dihedral CA 41 C 40 N 41 OG 54 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.00 10.0
Dihedral C 40 N 41 OG 54 CB 54 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -2.83 10.0
Dihedral N 41 OG 54 CB 54 CA 54 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -0.19 10.0
AtomPair N 41 O 52 SCALARWEIGHTEDFUNC 0.964971 HARMONIC 2.87 1.0
Angle C 40 N 41 O 52 SCALARWEIGHTEDFUNC 0.964971 CIRCULARHARMONIC 1.84 10.0
Angle N 41 O 52 C 52 SCALARWEIGHTEDFUNC 0.964971 CIRCULARHARMONIC 2.71 10.0
Dihedral CA 41 C 40 N 41 O 52 SCALARWEIGHTEDFUNC 0.964971 CIRCULARHARMONIC 2.98 10.0
Dihedral C 40 N 41 O 52 C 52 SCALARWEIGHTEDFUNC 0.964971 CIRCULARHARMONIC 2.81 10.0
Dihedral N 41 O 52 C 52 N 53 SCALARWEIGHTEDFUNC 0.964971 CIRCULARHARMONIC 0.40 10.0
AtomPair N 41 O 53 SCALARWEIGHTEDFUNC 0.124264 HARMONIC 3.24 1.0
Angle C 40 N 41 O 53 SCALARWEIGHTEDFUNC 0.124264 CIRCULARHARMONIC 2.71 10.0
Angle N 41 O 53 C 53 SCALARWEIGHTEDFUNC 0.124264 CIRCULARHARMONIC 1.91 10.0
Dihedral CA 41 C 40 N 41 O 53 SCALARWEIGHTEDFUNC 0.124264 CIRCULARHARMONIC 1.85 10.0
Dihedral C 40 N 41 O 53 C 53 SCALARWEIGHTEDFUNC 0.124264 CIRCULARHARMONIC 1.21 10.0
Dihedral N 41 O 53 C 53 N 54 SCALARWEIGHTEDFUNC 0.124264 CIRCULARHARMONIC -1.67 10.0
AtomPair N 42 OG 54 SCALARWEIGHTEDFUNC 1.000000 HARMONIC 3.06 1.0
Angle C 41 N 42 OG 54 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.14 10.0
Angle N 42 OG 54 CB 54 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 1.91 10.0
Dihedral CA 42 C 41 N 42 OG 54 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 3.02 10.0
Dihedral C 41 N 42 OG 54 CB 54 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.23 10.0
Dihedral N 42 OG 54 CB 54 CA 54 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -1.15 10.0
AtomPair O 42 N 55 SCALARWEIGHTEDFUNC 0.719764 HARMONIC 2.94 1.0
Angle C 42 O 42 N 55 SCALARWEIGHTEDFUNC 0.719764 CIRCULARHARMONIC 2.83 10.0
Angle O 42 N 55 C 54 SCALARWEIGHTEDFUNC 0.719764 CIRCULARHARMONIC 1.83 10.0
Dihedral N 43 C 42 O 42 N 55 SCALARWEIGHTEDFUNC 0.719764 CIRCULARHARMONIC 0.46 10.0
Dihedral C 42 O 42 N 55 C 54 SCALARWEIGHTEDFUNC 0.719764 CIRCULARHARMONIC 2.74 10.0
Dihedral O 42 N 55 C 54 CA 55 SCALARWEIGHTEDFUNC 0.719764 CIRCULARHARMONIC 2.87 10.0
AtomPair N 44 O 55 SCALARWEIGHTEDFUNC 0.754794 HARMONIC 3.25 1.0
Angle C 43 N 44 O 55 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 1.93 10.0
Angle N 44 O 55 C 55 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 2.26 10.0
Dihedral CA 44 C 43 N 44 O 55 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 1.92 10.0
Dihedral C 43 N 44 O 55 C 55 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 1.90 10.0
Dihedral N 44 O 55 C 55 N 56 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 1.86 10.0
AtomPair N 45 O 55 SCALARWEIGHTEDFUNC 0.964971 HARMONIC 2.94 1.0
Angle C 44 N 45 O 55 SCALARWEIGHTEDFUNC 0.964971 CIRCULARHARMONIC 2.07 10.0
Angle N 45 O 55 C 55 SCALARWEIGHTEDFUNC 0.964971 CIRCULARHARMONIC 2.99 10.0
Dihedral CA 45 C 44 N 45 O 55 SCALARWEIGHTEDFUNC 0.964971 CIRCULARHARMONIC -2.86 10.0
Dihedral C 44 N 45 O 55 C 55 SCALARWEIGHTEDFUNC 0.964971 CIRCULARHARMONIC 1.40 10.0
Dihedral N 45 O 55 C 55 N 56 SCALARWEIGHTEDFUNC 0.964971 CIRCULARHARMONIC -0.09 10.0
AtomPair O 45 N 48 SCALARWEIGHTEDFUNC 0.859882 HARMONIC 3.27 1.0
Angle C 45 O 45 N 48 SCALARWEIGHTEDFUNC 0.859882 CIRCULARHARMONIC 1.97 10.0
Angle O 45 N 48 C 47 SCALARWEIGHTEDFUNC 0.859882 CIRCULARHARMONIC 2.21 10.0
Dihedral N 46 C 45 O 45 N 48 SCALARWEIGHTEDFUNC 0.859882 CIRCULARHARMONIC 1.39 10.0
Dihedral C 45 O 45 N 48 C 47 SCALARWEIGHTEDFUNC 0.859882 CIRCULARHARMONIC -1.31 10.0
Dihedral O 45 N 48 C 47 CA 48 SCALARWEIGHTEDFUNC 0.859882 CIRCULARHARMONIC -2.94 10.0
AtomPair ND2 46 O 56 SCALARWEIGHTEDFUNC 1.000000 HARMONIC 3.05 1.0
Angle CG 46 ND2 46 O 56 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.26 10.0
Angle ND2 46 O 56 C 56 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.42 10.0
Dihedral OD1 46 CG 46 ND2 46 O 56 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 3.10 10.0
Dihedral CG 46 ND2 46 O 56 C 56 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -2.98 10.0
Dihedral ND2 46 O 56 C 56 N 57 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -3.11 10.0
AtomPair O 48 N 60 SCALARWEIGHTEDFUNC 0.754794 HARMONIC 3.04 1.0
Angle C 48 O 48 N 60 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 3.05 10.0
Angle O 48 N 60 C 59 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 1.76 10.0
Dihedral N 49 C 48 O 48 N 60 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC -0.04 10.0
Dihedral C 48 O 48 N 60 C 59 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC -1.38 10.0
Dihedral O 48 N 60 C 59 CA 60 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 1.34 10.0
AtomPair O 49 N 61 SCALARWEIGHTEDFUNC 0.754794 HARMONIC 2.92 1.0
Angle C 49 O 49 N 61 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 2.31 10.0
Angle O 49 N 61 C 60 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 1.98 10.0
Dihedral N 50 C 49 O 49 N 61 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 2.45 10.0
Dihedral C 49 O 49 N 61 C 60 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC -0.91 10.0
Dihedral O 49 N 61 C 60 CA 61 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC -2.55 10.0
AtomPair O 49 N 62 SCALARWEIGHTEDFUNC 0.754794 HARMONIC 3.35 1.0
Angle C 49 O 49 N 62 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 2.78 10.0
Angle O 49 N 62 C 61 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 2.00 10.0
Dihedral N 50 C 49 O 49 N 62 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 0.90 10.0
Dihedral C 49 O 49 N 62 C 61 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 2.45 10.0
Dihedral O 49 N 62 C 61 CA 62 SCALARWEIGHTEDFUNC 0.754794 CIRCULARHARMONIC 2.72 10.0
AtomPair OE1 49 ND2 61 SCALARWEIGHTEDFUNC 0.100000 HARMONIC 2.93 1.0
Angle CD 49 OE1 49 ND2 61 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC 2.52 10.0
Angle OE1 49 ND2 61 CG 61 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC 2.18 10.0
Dihedral NE2 49 CD 49 OE1 49 ND2 61 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC -2.83 10.0
Dihedral CD 49 OE1 49 ND2 61 CG 61 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC 2.07 10.0
Dihedral OE1 49 ND2 61 CG 61 OD1 61 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC -2.46 10.0
AtomPair N 51 O 62 SCALARWEIGHTEDFUNC 0.964971 HARMONIC 2.95 1.0
Angle C 50 N 51 O 62 SCALARWEIGHTEDFUNC 0.964971 CIRCULARHARMONIC 2.02 10.0
Angle N 51 O 62 C 62 SCALARWEIGHTEDFUNC 0.964971 CIRCULARHARMONIC 2.79 10.0
Dihedral CA 51 C 50 N 51 O 62 SCALARWEIGHTEDFUNC 0.964971 CIRCULARHARMONIC 2.95 10.0
Dihedral C 50 N 51 O 62 C 62 SCALARWEIGHTEDFUNC 0.964971 CIRCULARHARMONIC 2.30 10.0
Dihedral N 51 O 62 C 62 N 63 SCALARWEIGHTEDFUNC 0.964971 CIRCULARHARMONIC 1.00 10.0
AtomPair O 51 N 64 SCALARWEIGHTEDFUNC 0.649705 HARMONIC 2.99 1.0
Angle C 51 O 51 N 64 SCALARWEIGHTEDFUNC 0.649705 CIRCULARHARMONIC 2.67 10.0
Angle O 51 N 64 C 63 SCALARWEIGHTEDFUNC 0.649705 CIRCULARHARMONIC 1.90 10.0
Dihedral N 52 C 51 O 51 N 64 SCALARWEIGHTEDFUNC 0.649705 CIRCULARHARMONIC 0.99 10.0
Dihedral C 51 O 51 N 64 C 63 SCALARWEIGHTEDFUNC 0.649705 CIRCULARHARMONIC 2.41 10.0
Dihedral O 51 N 64 C 63 CA 64 SCALARWEIGHTEDFUNC 0.649705 CIRCULARHARMONIC 2.80 10.0
AtomPair N 53 O 64 SCALARWEIGHTEDFUNC 1.000000 HARMONIC 2.82 1.0
Angle C 52 N 53 O 64 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 1.95 10.0
Angle N 53 O 64 C 64 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.78 10.0
Dihedral CA 53 C 52 N 53 O 64 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.92 10.0
Dihedral C 52 N 53 O 64 C 64 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.69 10.0
Dihedral N 53 O 64 C 64 N 65 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 0.49 10.0
AtomPair N 53 OG 66 SCALARWEIGHTEDFUNC 1.000000 HARMONIC 3.29 1.0
Angle C 52 N 53 OG 66 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 1.65 10.0
Angle N 53 OG 66 CB 66 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.53 10.0
Dihedral CA 53 C 52 N 53 OG 66 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 1.95 10.0
Dihedral C 52 N 53 OG 66 CB 66 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -3.00 10.0
Dihedral N 53 OG 66 CB 66 CA 66 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 0.12 10.0
AtomPair N 54 OG 66 SCALARWEIGHTEDFUNC 1.000000 HARMONIC 3.04 1.0
Angle C 53 N 54 OG 66 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.19 10.0
Angle N 54 OG 66 CB 66 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.04 10.0
Dihedral CA 54 C 53 N 54 OG 66 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 3.04 10.0
Dihedral C 53 N 54 OG 66 CB 66 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.12 10.0
Dihedral N 54 OG 66 CB 66 CA 66 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -0.96 10.0
AtomPair O 54 OG 66 SCALARWEIGHTEDFUNC 1.000000 HARMONIC 3.34 1.0
Angle C 54 O 54 OG 66 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 1.94 10.0
Angle O 54 OG 66 CB 66 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 1.20 10.0
Dihedral N 55 C 54 O 54 OG 66 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.64 10.0
Dihedral C 54 O 54 OG 66 CB 66 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -2.80 10.0
Dihedral O 54 OG 66 CB 66 CA 66 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -1.25 10.0
AtomPair O 54 N 67 SCALARWEIGHTEDFUNC 0.684735 HARMONIC 2.98 1.0
Angle C 54 O 54 N 67 SCALARWEIGHTEDFUNC 0.684735 CIRCULARHARMONIC 2.80 10.0
Angle O 54 N 67 C 66 SCALARWEIGHTEDFUNC 0.684735 CIRCULARHARMONIC 1.75 10.0
Dihedral N 55 C 54 O 54 N 67 SCALARWEIGHTEDFUNC 0.684735 CIRCULARHARMONIC 0.09 10.0
Dihedral C 54 O 54 N 67 C 66 SCALARWEIGHTEDFUNC 0.684735 CIRCULARHARMONIC -3.11 10.0
Dihedral O 54 N 67 C 66 CA 67 SCALARWEIGHTEDFUNC 0.684735 CIRCULARHARMONIC 2.91 10.0
AtomPair N 56 O 67 SCALARWEIGHTEDFUNC 0.859882 HARMONIC 3.23 1.0
Angle C 55 N 56 O 67 SCALARWEIGHTEDFUNC 0.859882 CIRCULARHARMONIC 2.19 10.0
Angle N 56 O 67 C 67 SCALARWEIGHTEDFUNC 0.859882 CIRCULARHARMONIC 2.03 10.0
Dihedral CA 56 C 55 N 56 O 67 SCALARWEIGHTEDFUNC 0.859882 CIRCULARHARMONIC 1.98 10.0
Dihedral C 55 N 56 O 67 C 67 SCALARWEIGHTEDFUNC 0.859882 CIRCULARHARMONIC 2.00 10.0
Dihedral N 56 O 67 C 67 N 68 SCALARWEIGHTEDFUNC 0.859882 CIRCULARHARMONIC 1.92 10.0
AtomPair N 56 OG1 67 SCALARWEIGHTEDFUNC 1.000000 HARMONIC 2.92 1.0
Angle C 55 N 56 OG1 67 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 1.93 10.0
Angle N 56 OG1 67 CB 67 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.51 10.0
Dihedral CA 56 C 55 N 56 OG1 67 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -3.08 10.0
Dihedral C 55 N 56 OG1 67 CB 67 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -2.19 10.0
Dihedral N 56 OG1 67 CB 67 CG2 67 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.64 10.0
AtomPair OD1 56 ND2 68 SCALARWEIGHTEDFUNC 0.100000 HARMONIC 2.82 1.0
Angle CG 56 OD1 56 ND2 68 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC 2.92 10.0
Angle OD1 56 ND2 68 CG 68 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC 2.08 10.0
Dihedral OD2 56 CG 56 OD1 56 ND2 68 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC 1.96 10.0
Dihedral CG 56 OD1 56 ND2 68 CG 68 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC 1.64 10.0
Dihedral OD1 56 ND2 68 CG 68 OD1 68 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC 2.54 10.0
AtomPair N 57 O 67 SCALARWEIGHTEDFUNC 1.000000 HARMONIC 2.94 1.0
Angle C 56 N 57 O 67 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.02 10.0
Angle N 57 O 67 C 67 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.87 10.0
Dihedral CA 57 C 56 N 57 O 67 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -3.04 10.0
Dihedral C 56 N 57 O 67 C 67 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 0.56 10.0
Dihedral N 57 O 67 C 67 N 68 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 0.91 10.0
AtomPair O 57 N 60 SCALARWEIGHTEDFUNC 0.824853 HARMONIC 3.32 1.0
Angle C 57 O 57 N 60 SCALARWEIGHTEDFUNC 0.824853 CIRCULARHARMONIC 1.99 10.0
Angle O 57 N 60 C 59 SCALARWEIGHTEDFUNC 0.824853 CIRCULARHARMONIC 2.13 10.0
Dihedral N 58 C 57 O 57 N 60 SCALARWEIGHTEDFUNC 0.824853 CIRCULARHARMONIC 1.40 10.0
Dihedral C 57 O 57 N 60 C 59 SCALARWEIGHTEDFUNC 0.824853 CIRCULARHARMONIC -1.34 10.0
Dihedral O 57 N 60 C 59 CA 60 SCALARWEIGHTEDFUNC 0.824853 CIRCULARHARMONIC -2.80 10.0
AtomPair OE1 59 NZ 71 SCALARWEIGHTEDFUNC 0.100000 HARMONIC 2.79 1.0
Angle CD 59 OE1 59 NZ 71 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC 1.93 10.0
Angle OE1 59 NZ 71 CE 71 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC 1.88 10.0
Dihedral OE2 59 CD 59 OE1 59 NZ 71 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC -0.50 10.0
Dihedral CD 59 OE1 59 NZ 71 CE 71 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC -1.61 10.0
Dihedral OE1 59 NZ 71 CE 71 CD 71 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC -0.71 10.0
AtomPair OE2 59 NZ 71 SCALARWEIGHTEDFUNC 0.100000 HARMONIC 3.34 1.0
Angle CD 59 OE2 59 NZ 71 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC 1.45 10.0
Angle OE2 59 NZ 71 CE 71 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC 1.99 10.0
Dihedral OE1 59 CD 59 OE2 59 NZ 71 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC 0.39 10.0
Dihedral CD 59 OE2 59 NZ 71 CE 71 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC 1.34 10.0
Dihedral OE2 59 NZ 71 CE 71 CD 71 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC -1.45 10.0
AtomPair O 60 N 72 SCALARWEIGHTEDFUNC 0.684735 HARMONIC 3.16 1.0
Angle C 60 O 60 N 72 SCALARWEIGHTEDFUNC 0.684735 CIRCULARHARMONIC 2.94 10.0
Angle O 60 N 72 C 71 SCALARWEIGHTEDFUNC 0.684735 CIRCULARHARMONIC 1.40 10.0
Dihedral N 61 C 60 O 60 N 72 SCALARWEIGHTEDFUNC 0.684735 CIRCULARHARMONIC 0.64 10.0
Dihedral C 60 O 60 N 72 C 71 SCALARWEIGHTEDFUNC 0.684735 CIRCULARHARMONIC -1.99 10.0
Dihedral O 60 N 72 C 71 CA 72 SCALARWEIGHTEDFUNC 0.684735 CIRCULARHARMONIC 1.24 10.0
AtomPair O 61 OG1 73 SCALARWEIGHTEDFUNC 1.000000 HARMONIC 3.38 1.0
Angle C 61 O 61 OG1 73 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.41 10.0
Angle O 61 OG1 73 CB 73 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.09 10.0
Dihedral N 62 C 61 O 61 OG1 73 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -2.76 10.0
Dihedral C 61 O 61 OG1 73 CB 73 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -1.96 10.0
Dihedral O 61 OG1 73 CB 73 CG2 73 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 1.66 10.0
AtomPair O 61 N 74 SCALARWEIGHTEDFUNC 0.684735 HARMONIC 3.13 1.0
Angle C 61 O 61 N 74 SCALARWEIGHTEDFUNC 0.684735 CIRCULARHARMONIC 2.84 10.0
Angle O 61 N 74 C 73 SCALARWEIGHTEDFUNC 0.684735 CIRCULARHARMONIC 2.16 10.0
Dihedral N 62 C 61 O 61 N 74 SCALARWEIGHTEDFUNC 0.684735 CIRCULARHARMONIC 0.90 10.0
Dihedral C 61 O 61 N 74 C 73 SCALARWEIGHTEDFUNC 0.684735 CIRCULARHARMONIC 2.17 10.0
Dihedral O 61 N 74 C 73 CA 74 SCALARWEIGHTEDFUNC 0.684735 CIRCULARHARMONIC 2.99 10.0
AtomPair O 61 N 73 SCALARWEIGHTEDFUNC 0.684735 HARMONIC 3.04 1.0
Angle C 61 O 61 N 73 SCALARWEIGHTEDFUNC 0.684735 CIRCULARHARMONIC 2.23 10.0
Angle O 61 N 73 C 72 SCALARWEIGHTEDFUNC 0.684735 CIRCULARHARMONIC 1.89 10.0
Dihedral N 62 C 61 O 61 N 73 SCALARWEIGHTEDFUNC 0.684735 CIRCULARHARMONIC 2.29 10.0
Dihedral C 61 O 61 N 73 C 72 SCALARWEIGHTEDFUNC 0.684735 CIRCULARHARMONIC -1.05 10.0
Dihedral O 61 N 73 C 72 CA 73 SCALARWEIGHTEDFUNC 0.684735 CIRCULARHARMONIC -2.37 10.0
AtomPair N 63 O 74 SCALARWEIGHTEDFUNC 1.000000 HARMONIC 2.83 1.0
Angle C 62 N 63 O 74 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.04 10.0
Angle N 63 O 74 C 74 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.84 10.0
Dihedral CA 63 C 62 N 63 O 74 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.99 10.0
Dihedral C 62 N 63 O 74 C 74 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 1.77 10.0
Dihedral N 63 O 74 C 74 N 75 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 1.64 10.0
AtomPair O 63 N 76 SCALARWEIGHTEDFUNC 0.684735 HARMONIC 2.96 1.0
Angle C 63 O 63 N 76 SCALARWEIGHTEDFUNC 0.684735 CIRCULARHARMONIC 2.66 10.0
Angle O 63 N 76 C 75 SCALARWEIGHTEDFUNC 0.684735 CIRCULARHARMONIC 2.05 10.0
Dihedral N 64 C 63 O 63 N 76 SCALARWEIGHTEDFUNC 0.684735 CIRCULARHARMONIC 1.18 10.0
Dihedral C 63 O 63 N 76 C 75 SCALARWEIGHTEDFUNC 0.684735 CIRCULARHARMONIC 2.03 10.0
Dihedral O 63 N 76 C 75 CA 76 SCALARWEIGHTEDFUNC 0.684735 CIRCULARHARMONIC 2.97 10.0
AtomPair N 65 O 76 SCALARWEIGHTEDFUNC 0.824853 HARMONIC 2.89 1.0
Angle C 64 N 65 O 76 SCALARWEIGHTEDFUNC 0.824853 CIRCULARHARMONIC 1.91 10.0
Angle N 65 O 76 C 76 SCALARWEIGHTEDFUNC 0.824853 CIRCULARHARMONIC 2.91 10.0
Dihedral CA 65 C 64 N 65 O 76 SCALARWEIGHTEDFUNC 0.824853 CIRCULARHARMONIC 2.90 10.0
Dihedral C 64 N 65 O 76 C 76 SCALARWEIGHTEDFUNC 0.824853 CIRCULARHARMONIC 2.65 10.0
Dihedral N 65 O 76 C 76 N 77 SCALARWEIGHTEDFUNC 0.824853 CIRCULARHARMONIC 0.70 10.0
AtomPair OD2 65 ND2 77 SCALARWEIGHTEDFUNC 0.100000 HARMONIC 3.10 1.0
Angle CG 65 OD2 65 ND2 77 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC 2.24 10.0
Angle OD2 65 ND2 77 CG 77 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC 1.93 10.0
Dihedral OD1 65 CG 65 OD2 65 ND2 77 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC 2.08 10.0
Dihedral CG 65 OD2 65 ND2 77 CG 77 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC 2.54 10.0
Dihedral OD2 65 ND2 77 CG 77 OD1 77 SCALARWEIGHTEDFUNC 0.100000 CIRCULARHARMONIC -2.96 10.0
AtomPair N 66 OG 78 SCALARWEIGHTEDFUNC 1.000000 HARMONIC 2.93 1.0
Angle C 65 N 66 OG 78 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.31 10.0
Angle N 66 OG 78 CB 78 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.10 10.0
Dihedral CA 66 C 65 N 66 OG 78 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 3.03 10.0
Dihedral C 65 N 66 OG 78 CB 78 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.18 10.0
Dihedral N 66 OG 78 CB 78 CA 78 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -1.06 10.0
AtomPair O 66 OG 78 SCALARWEIGHTEDFUNC 1.000000 HARMONIC 3.24 1.0
Angle C 66 O 66 OG 78 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 1.85 10.0
Angle O 66 OG 78 CB 78 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 1.21 10.0
Dihedral N 67 C 66 O 66 OG 78 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.48 10.0
Dihedral C 66 O 66 OG 78 CB 78 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -2.50 10.0
Dihedral O 66 OG 78 CB 78 CA 78 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -1.23 10.0
AtomPair O 66 N 79 SCALARWEIGHTEDFUNC 0.649705 HARMONIC 3.19 1.0
Angle C 66 O 66 N 79 SCALARWEIGHTEDFUNC 0.649705 CIRCULARHARMONIC 2.72 10.0
Angle O 66 N 79 C 78 SCALARWEIGHTEDFUNC 0.649705 CIRCULARHARMONIC 1.69 10.0
Dihedral N 67 C 66 O 66 N 79 SCALARWEIGHTEDFUNC 0.649705 CIRCULARHARMONIC 0.41 10.0
Dihedral C 66 O 66 N 79 C 78 SCALARWEIGHTEDFUNC 0.649705 CIRCULARHARMONIC 2.46 10.0
Dihedral O 66 N 79 C 78 CA 79 SCALARWEIGHTEDFUNC 0.649705 CIRCULARHARMONIC -3.02 10.0
AtomPair N 68 O 79 SCALARWEIGHTEDFUNC 0.859882 HARMONIC 3.00 1.0
Angle C 67 N 68 O 79 SCALARWEIGHTEDFUNC 0.859882 CIRCULARHARMONIC 2.05 10.0
Angle N 68 O 79 C 79 SCALARWEIGHTEDFUNC 0.859882 CIRCULARHARMONIC 2.01 10.0
Dihedral CA 68 C 67 N 68 O 79 SCALARWEIGHTEDFUNC 0.859882 CIRCULARHARMONIC 2.02 10.0
Dihedral C 67 N 68 O 79 C 79 SCALARWEIGHTEDFUNC 0.859882 CIRCULARHARMONIC 2.23 10.0
Dihedral N 68 O 79 C 79 N 80 SCALARWEIGHTEDFUNC 0.859882 CIRCULARHARMONIC 1.70 10.0
AtomPair N 68 OG 79 SCALARWEIGHTEDFUNC 1.000000 HARMONIC 3.06 1.0
Angle C 67 N 68 OG 79 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 1.88 10.0
Angle N 68 OG 79 CB 79 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 2.40 10.0
Dihedral CA 68 C 67 N 68 OG 79 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -3.05 10.0
Dihedral C 67 N 68 OG 79 CB 79 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC -2.24 10.0
Dihedral N 68 OG 79 CB 79 CA 79 SCALARWEIGHTEDFUNC 1.000000 CIRCULARHARMONIC 0.58 10.0
AtomPair N 69 O 79 SCALARWEIGHTEDFUNC 0.929941 HARMONIC 2.90 1.0
Angle C 68 N 69 O 79 SCALARWEIGHTEDFUNC 0.929941 CIRCULARHARMONIC 2.01 10.0
Angle N 69 O 79 C 79 SCALARWEIGHTEDFUNC 0.929941 CIRCULARHARMONIC 2.66 10.0
Dihedral CA 69 C 68 N 69 O 79 SCALARWEIGHTEDFUNC 0.929941 CIRCULARHARMONIC -2.97 10.0
Dihedral C 68 N 69 O 79 C 79 SCALARWEIGHTEDFUNC 0.929941 CIRCULARHARMONIC 0.82 10.0
Dihedral N 69 O 79 C 79 N 80 SCALARWEIGHTEDFUNC 0.929941 CIRCULARHARMONIC 0.54 10.0
AtomPair O 69 N 72 SCALARWEIGHTEDFUNC 0.824853 HARMONIC 3.14 1.0
Angle C 69 O 69 N 72 SCALARWEIGHTEDFUNC 0.824853 CIRCULARHARMONIC 2.09 10.0
Angle O 69 N 72 C 71 SCALARWEIGHTEDFUNC 0.824853 CIRCULARHARMONIC 2.15 10.0
Dihedral N 70 C 69 O 69 N 72 SCALARWEIGHTEDFUNC 0.824853 CIRCULARHARMONIC 1.44 10.0
Dihedral C 69 O 69 N 72 C 71 SCALARWEIGHTEDFUNC 0.824853 CIRCULARHARMONIC -1.22 10.0
Dihedral O 69 N 72 C 71 CA 72 SCALARWEIGHTEDFUNC 0.824853 CIRCULARHARMONIC -3.14 10.0
